<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
     
      <!-- ITEM BUCKET COMMANDS
         The commands that run the item bucket system.
    -->
    <commands>
      <!--<command name="bucket:edit" type=""/>-->
    </commands>
      <settings>
          <setting name="BucketConfiguration.DynamicBucketFolderPath">
              <patch:attribute name="value"> Sitecore.ItemBuckets.DynamicFolders.DynamicFolderSwitcherBootstrap, Sitecore.ItemBuckets</patch:attribute>
          </setting>
      </settings>
   
  </sitecore>
</configuration>