<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

       <!-- ITEM BUCKET COMMANDS
         The commands that run the item bucket system.
    -->
    <commands>
      <!--<command name="bucket:edit" type=""/>-->
    </commands>
    <pipelines>
     
      <buckets.createBucket>
          <processor type="Sitecore.Buckets.Pipelines.BucketOperations.CreateBucket.RunBucketingProcess, Sitecore.Buckets">
              <patch:attribute name="type">Sitecore.ItemBuckets.Pipelines.CreateBucket.CreateBucketProcessor, Sitecore.ItemBuckets</patch:attribute>
          </processor>
      </buckets.createBucket>
      <!-- FETCH FACET PIPELINE
           Pipeline for getting facets (grouping and categorization of search results) from a search.
           Arguments : (Item) The item to add a search tab to. (bool) Whether the tab was added or not.
      -->
     
      <!--<buckets.moveItemIntoBucket>
        <processor type="Sitecore.Buckets.Pipelines.ItemOperations.MoveItem.RunMoving, Sitecore.Buckets"/>
      </buckets.moveItemIntoBucket>-->
     
      <!-- BUCKET SYNCING PIPELINE
           Pipeline for syncing an item bucket. This updates an item bucket after changing the bucketable value of templates, or if  
           the bucketing process was interrupted and needs to be resumed.
           Arguments : (Item) The item bucket being synced. (bool) Whether the item bucket was synced successfully or not.
      -->
      <buckets.syncBucket>
        <processor type="Sitecore.Buckets.Pipelines.BucketOperations.SyncBucket.RunSyncProcess, Sitecore.Buckets"/>
      </buckets.syncBucket>

      
    </pipelines>
   
  </sitecore>
</configuration>